<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/skin_/index.css"/>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>
    <script type="text/javascript" src="layui/layui.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <title>首页</title>
</head>
<body>
<div id="container">
    <div id="hd">
    </div>
    <div id="bd">
        <div id="main">
            <ul class="nav-list ue-clear">
                <li class="nav-item desk">
                    <a href="main">
                        <p class="icon"></p>
                        <p class="title">我的桌面</p>
                    </a>
                </li>
                <li class="nav-item news">
                    <a href="showMyNewsTable">
                        <p class="icon"></p>
                        <p class="title">新闻资讯</p>
                    </a>
                </li>
                <li class="nav-item notice">
                    <a href="showMyBulletinTable">
                        <p class="icon"></p>
                        <p class="title">公告通知</p>
                    </a>
                </li>

                <!--<li class="nav-item plan">
                    <a href="index.html">
                        <p class="icon"></p>
                        <p class="title">工作计划</p>
                    </a>
                </li>-->
                <li class="nav-item contacts">
                    <a href="showCommunicationTable">
                        <p class="icon"></p>
                        <p class="title">通讯录</p>
                    </a>
                </li>
                <!-- <li class="nav-item mail">
                     <a href="index.html">
                         <p class="icon"></p>
                         <p class="title">我的邮件</p>
                     </a>
                 </li>-->
                <!--<li class="nav-item logs">
                    <a href="index.html">
                        <p class="icon"></p>
                        <p class="title">我的日志</p>
                    </a>
                </li>-->
                <li class="nav-item dosthings">
                    <a href="showToDoProcesses">
                        <p class="icon"></p>
                        <p class="title">待办流程</p>
                    </a>
                </li>
                <!-- <li class="nav-item fav">
                     <a href="index.html">
                         <p class="icon"></p>
                         <p class="title">收藏夹</p>
                     </a>
                 </li>-->

                <li class="nav-item browser">
                    <a href="main">
                        <p class="icon"></p>
                        <p class="title">浏览器</p>
                    </a>
                </li>
            </ul>

            <ul class="content-list">

                <li class="content-item dothings">
                    <h2 class="content-hd">
                    	<span class="opt">
                        	<span class="refresh" title="刷新"></span>
                            <span class="setting" title="设置"></span>
                            <span class="report" title="导出"></span>
                            <span class="close" title="关闭"></span>
                        </span>
                        <span class="title">待办流程</span>
                    </h2>
                    <div class="content-bd">
                        <ul class="content-list things" id="todoprocesses">
                        </ul>
                    </div>

                </li>
                <li class="content-item richeng">
                    <h2 class="content-hd">
                    	<span class="opt">
                        	<span class="refresh" title="刷新"></span>
                            <span class="setting" title="设置"></span>
                            <span class="report" title="导出"></span>
                            <span class="close" title="关闭"></span>
                        </span>
                        <span class="title">公告通知</span>
                    </h2>
                    <div class="content-bd" id="bulletinout">
                        <ul class="content-list things" id="bulletin">
                        </ul>
                    </div>
                </li>

                <!--<li class="content-item system">
                    <h2 class="content-hd">
                    	<span class="opt">
                        	<span class="refresh" title="刷新"></span>
                            <span class="setting" title="设置"></span>
                            <span class="report" title="导出"></span>
                            <span class="close" title="关闭"></span>
                        </span>
                        <span class="title">数据统计</span>
                    </h2>
                    <div class="content-bd">
                        <img src="img/skin_/pic2.png"/>
                    </div>
                </li>-->

                <li class="content-item news">
                    <h2 class="content-hd">
                    	<span class="opt">
                        	<span class="refresh" title="刷新"></span>
                            <span class="setting" title="设置"></span>
                            <span class="report" title="导出"></span>
                            <span class="close" title="关闭"></span>
                        </span>
                        <span class="title">新闻资讯</span>
                    </h2>
                    <div class="content-bd">
                        <ul class="content-list things" id="news">
                        </ul>
                    </div>
                </li>
                <!--<li class="content-item system">
                    <h2 class="content-hd">
                    	<span class="opt">
                        	<span class="refresh" title="刷新"></span>
                            <span class="setting" title="设置"></span>
                            <span class="report" title="导出"></span>
                            <span class="close" title="关闭"></span>
                        </span>
                        <span class="title">工作日历</span>

                    </h2>
                    <div class="content-bd" style="height:389px ">
                        <div class="layui-inline" id="test-n1" style="width: 100%;height: 100%"></div>
                    </div>
                </li>-->
                <!--<li class="content-item news">
                    <h2 class="content-hd">
                    	<span class="opt">
                        	<span class="refresh" title="刷新"></span>
                            <span class="setting" title="设置"></span>
                            <span class="report" title="导出"></span>
                            <span class="close" title="关闭"></span>
                        </span>
                        <span class="title">我的邮件</span>
                    </h2>
                    <div class="content-bd">
                        <ul class="content-list things">
                            <li class="content-list-item">
                                <i class="icon"></i>
                                <a href="javascript:;">查干湖冬捕壮观景象</a>
                            </li>
                            <li class="content-list-item">
                                <i class="icon"></i>
                                <a href="javascript:;">江西新余：一座城为重病男童圆梦</a>
                            </li>
                            <li class="content-list-item">
                                <i class="icon"></i>
                                <a href="javascript:;">学生建4.5平米1室1厅1厨1卫 欲申请专利</a>
                            </li>
                            <li class="content-list-item">
                                <i class="icon"></i>
                                <a href="javascript:;">央视直播曝光中纪委办公区</a>
                            </li>
                            <li class="content-list-item">
                                <i class="icon"></i>
                                <a href="javascript:;">盘点那些年曾“脱光光”的十大女星</a>
                            </li>
                        </ul>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" th:inline="javascript">
    var noticeList = [[${noticeList}]];
    var newsList = [[${newsList}]];
    newmessage();
    function newmessage() {
        for (var i = 0; i < noticeList.length; i++) {
            var processes = noticeList[i];
            if (processes.type == '待办流程') {
                var content = '<li class="content-list-item">' +
                    '<i class="icon"></i>' +
                    '<a class="processesa" name="processes" id="' + processes.id + '" onclick="dianji(this)">' + processes.title + '</a>' +
                    '<div style="float:right;">' +
                    processes.name +
                    processes.time +
                    '</div>' +
                    '</li>';
                // alert(content);
                $('#todoprocesses').append(content);
            }
            if (processes.type == '公告通知') {
                var content = '<li class="content-list-item">' +
                    '<i class="icon"></i>' +
                    '<a class="bulletin" name="bulletin" id="' + processes.id + '" onclick="dianji(this)">' + processes.title + '</a>' +
                    '<div style="float:right;">' +
                    processes.name +
                    processes.time +
                    '</div>' +
                    '</li>';
                // alert(content);
                $('#bulletin').append(content);
            }
        }
        for (var i = 0; i < newsList.length; i++) {
            var news = newsList[i];
            var content = '<li class="content-list-item">' +
                '<i class="icon"></i>' +
                '<a class="news" name="news" id="' + news.nid + '" onclick="dianji(this)">' + news.ntitle + '</a>'+
                '</li>';
            // alert(content);
            $('#news').append(content);
        }
    }


    function dianji(obj) {
        // alert(obj.name);
        if (obj.name == 'processes') {
            // alert(obj.name);
            layui.use('layer', function () {
                var layer = layui.layer;
                $.ajax({
                    type: "post",
                    url: "jsonProcessDefinitionId",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(obj.id),
                    success: function (data) {
                        // alert(data);
                        layer.open({
                            title: '流程审批',
                            type: 2,
                            area: ['80%', '96%'],
                            moveOut: true,
                            content: 'leaderApprovalForm' //这里content是一个普通的String
                            , cancel: function (index, layero) {
                                window.location.reload();//刷新当前页面.
                                // top.$('.info-num').remove();
                                top.$('#avatar').load("index" + ' #avatar').fadeIn('slow'); // 加载新内容,url地址与该地址下的选择器之间要有空格,表示该url下的#container
                                // top.$('.num').remove();
                                top.$('.num').load("index" + ' .num').fadeIn('slow'); // 加载新内容,url地址与该地址下的选择器之间要有空格,表示该url下的#container
                                layer.close(index);

                            }
                            // content: 'ok' //这里content是一个普通的String
                        });
                        // window.location.href = "leaderApprovalForm";
                    },
                    error: function () {
                        alert("false");
                    }
                });
            });
        }

        if (obj.name == 'news') {
            // alert(obj.name);
            layui.use('layer', function () {
                var layer = layui.layer;
                $.ajax({
                    type: "post",
                    url: "getNewsId",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(obj.id),
                    success: function (data) {
                        // alert(data);
                        layer.open({
                            title: '新闻',
                            type: 2,
                            area: ['80%', '96%'],
                            moveOut: true,
                            content: 'showTheNews' //这里content是一个普通的String
                            , cancel: function (index, layero) {

                                layer.close(index);

                            }
                            // content: 'ok' //这里content是一个普通的String
                        });
                        // window.location.href = "leaderApprovalForm";
                    },
                    error: function () {
                        alert("false");
                    }
                });
            });
        }
        if (obj.name == 'bulletin') {
            // alert(obj.name);
            layui.use('layer', function () {
                var layer = layui.layer;
                $.ajax({
                    type: "post",
                    url: "getBulletinId",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(obj.id),
                    success: function (data) {
                        layer.open({
                            title: '查看公告',
                            type: 2,
                            area: ['50%', '96%'],
                            moveOut: true,
                            content: 'showMyBulletin' //这里content是一个普通的String
                            , cancel: function (index, layero) {
                                top.$('#avatar').load("index" + ' #avatar').fadeIn('slow'); // 加载新内容,url地址与该地址下的选择器之间要有空格,表示该url下的#container
                                // top.$('.num').remove();
                                top.$('.num').load("index" + ' .num').fadeIn('slow'); // 加载新内容,url地址与该地址下的选择器之间要有空格,表示该url下的#container
                                // window.$('#bulletin').load("main" + ' #bulletin').fadeIn('slow');//刷新当前页面.
                                // $('.content-bd').remove();
                                window.location.reload();//刷新当前页面.
                                console.log(noticeList);
                                // layer.alert(noticeList);
                                // newmessage();
                                // $('#bulletinout').load("main" + ' #bulletinout').fadeIn('slow'); // 加载新内容,url地址与该地址下的选择器之间要有空格,表示该url下的#container


                                // top.$('.info-num').remove();
                                layer.close(index);
                            }
                            // content: 'ok' //这里content是一个普通的String
                        });
                    },
                    error: function () {
                        layer.alert("false");
                    }
                });


            });

        }

    }

    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#test-n1'
            , calendar: true
            , showBottom: false
            , theme: '#38A3D5'
            , btns: ['now']
            , position: 'static'
        });
    });
    var minwidth = 282;
    resizeWidth();
    $(top.window).resize(function (e) {
        resizeWidth();
    });
    $(function () {
        $(".content-list").sortable({
            revert: true,
            handle: 'h2'
        });

    });

    function resizeWidth() {
        if ($('#main').width() / 3 < minwidth) {
            $('.content-item').width(($('#main').width() / 2) - 15);
        } else {
            $('.content-item').width(($('#main').width() / 3) - 15);
        }

    }
</script>
</html>
