<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhbit.oa.dao.BulletinAccountMapper">
    <select id="selectAll" resultType="BulletinAccount">
        select * from oa_bulletin_account
    </select>
    <select id="selectByBaid" resultType="BulletinAccount" parameterType="String">
        select * from oa_bulletin_account where baid = #{baid}
    </select>
    <select id="selectByBstatus" resultType="BulletinAccount" parameterType="String">
        select * from oa_bulletin_account where bastatus = #{bastatus}
    </select>
    <insert id="add" parameterType="BulletinAccount">
        INSERT INTO oa_bulletin_account (baid,bid,aid,bastatus) values (#{baid},#{bid},#{aid},#{bastatus})
    </insert>
    <delete id="delete" parameterType="String">
        delete from oa_bulletin_account where baid = #{baid}
    </delete>
    <update id="update" parameterType="BulletinAccount">
        update oa_bulletin_account set bid = #{bid} ,aid = #{aid},bastatus = #{bastatus}
        where baid=#{baid}
    </update>
</mapper>